---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -objc-*,
        -darwin-*,
        -fuchsia-*,
        -google-*,
        -hicpp-*,
        -linuxkernel-*,
        -llvm*,
        -mpi-*,
        -zircon-*,
        -cert-*,
        -clang-analyzer-optin.mpi.MPI-Checker,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-pro-type-cstyle-cast,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-special-member-functions,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -cppcoreguidelines-use-default-member-init,
        -cppcoreguidelines-macro-usage,
        -misc-non-private-member-variables-in-classes,
        -misc-unused-parameters,
        -misc-include-cleaner,
        -misc-const-correctness,
        -misc-use-internal-linkage,
        -misc-use-anonymous-namespace,
        -misc-no-recursion,
        -modernize-avoid-c-arrays,
        -modernize-concat-nested-namespaces,
        -modernize-use-trailing-return-type,
        -modernize-return-braced-init-list,
        -modernize-use-nodiscard,
        -modernize-use-ranges,
        -modernize-use-constraints,
        -modernize-use-std-numbers,
        -modernize-use-transparent-functors,
        -modernize-use-default-member-init,
        -modernize-type-traits,
        -modernize-pass-by-value,
        -modernize-loop-convert,
        -modernize-use-nullptr,
        -modernize-use-designated-initializers,
        -performance-avoid-endl,
        -performance-enum-size,
        -performance-unnecessary-value-param,
        -readability-magic-numbers,
        -readability-braces-around-statements,
        -readability-identifier-length,
        -readability-function-cognitive-complexity,
        -readability-else-after-return,
        -readability-implicit-bool-conversion,
        -readability-isolate-declaration,
        -readability-redundant-member-init,
        -readability-math-missing-parentheses,
        -readability-convert-member-functions-to-static,
        -readability-use-anyofallof,
        -readability-container-contains,
        -readability-redundant-access-specifiers,
        -readability-avoid-nested-conditional-operator,
        -readability-use-std-min-max,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
