name: Regression Tests

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [main]
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v3
      - name: build
        shell: bash
        run: |
          module load opensn/gcc/12
          mkdir build && cd build && cmake .. && make -j && cd ..
      - name: test
        shell: bash
        run: |
          module load opensn/gcc/12
          test/run_tests -d test/lua -j 32 -v 1 -w 3
      - name: test tutorials
        shell: bash
        run: |
          module load opensn/gcc/12
          test/run_tests -d tutorials/lua -j 32 -v 1 -w 3
      - name: test unit
        shell: bash
        run: |
          module load opensn/gcc/12
          build/test/opensn-unit
